$sidebar-bg-color: #E9ECEF !default;
$sidebar-color: #343A40 !default;
$submenu-bg-color: #CED4DA !default;
$submenu-bg-color-collapsed: #CED4DA !default;
$highlight-color: #0466C8 !default;

@import '~react-pro-sidebar/dist/scss/styles.scss';